/* Heading Styles */
h1, h2, h3 {
   font-family: 'Segoe UI', sans-serif;
   font-weight: bold;
   color: #ffffff;
   margin-bottom: 1%;
}
 
 .container {
  font-size: 16px; /* Fallback font size for browsers that do not support relative units */
  font-size: 1em; /* Set the base font size of the container in em */
}

h1 {
  font-size: 1.00em; /* Set h1 font size to 1.5 times the container's base font size */
}

h2 {
  font-size: 0.75em; /* Set h2 font size to 1.25 times the container's base font size */
}

h3 {
  font-size: 0.50em; /* Set h3 font size to the container's base font size */
}
 
 /* Paragraph Styles */
 p {
   font-family: 'Segoe UI', sans-serif;
   font-size: 16px;
   color: #ffffff;
   line-height: 1.5;
 }

a {
   color:whitesmoke
}
 
a:visited {
   color: wheat
 }



 /* Background Styles */
 body {
   background: linear-gradient(to bottom, #15637450, #d6595950);
 }
 
 /* Other Styles */
 /* Add any other styles you need for your specific elements, such as buttons, links, etc. */

 nav {
   position: fixed;
   top: 0;
   background-color: #33333333;
   padding: 10px 0;
 }
 
 nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
 }
 
 nav ul li {
   margin: 0 10px;
 }
 
 nav ul li a {
   color: #ffffff;
   text-decoration: none;
 }
 
 nav ul li a:hover {
   color: #ffffff90
 }

 .nav-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: static;
   top: 0;
}


ul {
   flex-grow: 1;
   text-align: center;
   margin: 0;
   padding: 0;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

ul li {
   margin: 0 2%; /* Adjust the percentage value to set the desired space between li elements */
}


/*Above is nav bar - below here is the first section*/

section {
   display: flex;
   align-items: center;
 }
 
 .text-content {
   flex-basis: 100%;
   padding: 2%;
 }
 
 .image-content {
   height: 100vh;
   flex-basis: 100%;
   text-align: left;
   padding: 2%;
 }
 
 .image-content img {
   max-width: auto;
   height: 100%;
   object-fit: cover;
 }

 .landing {
   height: 100vh;
   display: grid;
 }

 .container {
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: .5rem; /* Optional: Add a gap between the section and the div box */
}


.box {
  background: linear-gradient(to right, #ffffff50, #77777750);
  padding: .1rem;
  transition: background-color 0.5s ease;
}

.box:hover {
  background: linear-gradient(to right, #ffffff70, #77777770);
}
 
 @media (min-width: 768px) {
   .text-content {
     flex-basis: 50%;
     padding: 2%;
   }
 
   .image-content {
     flex-basis: 50%;
     text-align: center;
     padding: 2%;
   }
 }
 
 @media (min-width: 1024px) {
   .text-content {
     flex-basis: 40%;
   }
 
   .image-content {
     flex-basis: 60%;
   }
 }
 