<!-- {% extends "layout.html" %} --> 

<!--{% block content %}-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Cork</title>
</head>
<body>

        <div class="nav-container">
            <div class="company-name">
                <a href="/">Gyde</a>
            </div>
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/guides">Guides</a></li>
                    <li><a href="/tours">Tours</a></li>
                </ul>
            </div>
            <div class="company-name">
                <a href="/">Profile</a>
            </div>
        </div>
    <section class="landing">
        
          <div class="container">
            <div class="box">
                <div class="text-content">
                    <h1>Welcome to our Tour Guide Service</h1>
                    <p>Experience the best tours with our professional guides.</p>
                  </div>
            </div>
            <div class="box">
                <div class="text-content">
                    <h1>Welcome to our Tour Guide Service</h1>
                    <p>Experience the best tours with our professional guides.</p>
                  </div>
            </div>
            <div class="box">
                <div class="text-content">
                    <h1>Welcome to our Tour Guide Service</h1>
                    <p>Experience the best tours with our professional guides.</p>
                  </div>
            </div>
            <div class="box">
                <div class="text-content">
                    <h1>Welcome to our Tour Guide Service</h1>
                    <p>Experience the best tours with our professional guides.</p>
                  </div>
            </div>
            <div class="box">
                <div class="text-content">
                    <h1>Welcome to our Tour Guide Service</h1>
                    <p>Experience the best tours with our professional guides.</p>
                  </div>
            </div>
            <div class="box">
                <div class="text-content">
                    <h1>Welcome to our Tour Guide Service</h1>
                    <p>Experience the best tours with our professional guides.</p>
                  </div>
            </div>
          </div>
          <!--<div class="image-content">
            <img src="../static/Landing_1.png" alt="Full Width Image">
          </div> -->
        </section>
    
</body>
</html>


<!--{% endblock %}-->
